---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bienvenidos a Astro2024</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
	<a href="/blog">Blog</a>
    <h1>MI BLOG DE ASTRO</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nisi delectus odio velit perspiciatis. Iusto veritatis qui dolore in voluptate, placeat voluptatem quas sequi libero, voluptates quae assumenda, dolores facere!</p>
  </body>
</html>