---
// FIXME: Frontmatter ===================================-->
const platform:string = "github";
const username:string = "withastro";
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>      
</footer>